
select {
	font-size: 12px;
	font-size: 0.825rem;
}

div {
	margin: 15px 10px 10px 10px;
	display: block;
}

button, input, label, select {
	display: inline-block;
	margin: 3px 3px 3px 3px;
}

p {
	float: left;
	text-align: left;
	margin: 10px 10px 10px 10px;
}

.uidiv {
	display: inline-block;
	margin: 3px 3px 3px 3px;
}

.maindiv {
	width: 50%;
	margin: 0 auto;
}



